.NavBar {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

.NavBarItem {
    height: 5vh;
    display: grid;
    position: relative;
    align-items: center;
    margin: 2.2vw 3vw;
}


.NavBarItem .onHover {
    position: absolute;
    padding: 3ch;
    margin: 0.5vw;
    width: 0;
    left: 0;
    border: solid 7px transparent;
    border-radius: 2%;
    transition: width 2s ease, border-color 2s ease-out, left 1s ease-in-out;
}

.NavBarItem:hover .onHover {
    border-color: rgba(54, 196, 147, 255);
    width: 80%;
    /*left: -10%;*/
}


.NavBarItem .text {
    font-weight: bold;
    color: white;
    width: 25vw;
    font-size: 3ch;
    padding-left: 0;
    transition: padding-left 1s ease;
    max-lines: 2;
}

.NavBarItem:hover .text {
    padding-left: 20%;
}

@media screen and (max-width: 480px) {
    .NavBar {
        display: inline;
        /*justify-content: center;*/
    }
}